body {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	margin: 0; 
}

div, title, span, p, .p, h1, h2, h3, ul, li, a, td ,th, select, input, textarea {
	font-family: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif;
}

h2 {
	text-align: center;
	font-weight: bold;
}

table.header {
	width: 100%;
	background-color: #152D3F;
}

td.header {
	width: 50%;
}

td.header a {
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: #FFF;
	text-decoration: none;
}

td.header a:hover {
	color: #FFF;
	text-decoration: underline;
}

table.index {
	background-color: #E0E0E0;
	height: 193px;
	width: 550px;
	border: #000000 2px solid;
}

th.index {
	background-color: #152D3F;
}

td.small {
	background-color: #C0C0C0;
}

select {
	width: 100px;
}

select.date {
	width: 120px;
}

select.mini {
	width: 60px;
}

div.wlm {
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

div.name {
	font-weight: bold;
/* 	display: inline; */
}

.bold {
	font-weight: bold;
}

.italic {
    font-style: italic
}

table.results  {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #CCCCCC;
	border-spacing: 0 0;
}

table.results td, table.results th {
	padding-left: 5px;
	padding-right: 5px;
}

td.on, td.off {
	white-space: normal;
}

td.off {
	white-space:nowrap;
}

.priority_info, .priority_debug, .priority_notice, .priority_warning, .priority_err, .priority_crit, .priority_alert {
	text-align: center;
	text-decoration: none;
}

.priority_info {
	background-color: #EEE;
}

.priority_debug {
	background-color: #C1FFC1;
}

.priority_notice {
	background-color: #CAff70;
}

.priority_warning {
	background-color: #FFFF00;
}

.priority_err {
	background-color: #FFA500;
}

.priority_crit {
	background-color: #FF4500;
}

.priority_alert {
	background-color: #FF0000;
}

.row1 {
	background-color: #FFFFFF;
}

.row2 {
	background-color: #F0F0F0;
}

a {
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

a.td {
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: #000;
	text-decoration: none;
}

a:hover, a.td:hover {
	color: #66AA00;
}

.header {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #152D3F;
	font-family: Arial, Helvetica, Swiss, Futura, sans-serif;
}

.pages {
	padding-top: 10px;
	padding-bottom: 20px;
}
